.row{
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin: 0 -16px;
}

.container {
    background-color: #f2f2f2;
    padding: 10px 20px 30px 35px;
    border: 1px solid lightgrey;
    border-radius: 3px;
    width: 250px;
}

input[type=text]{
    width: 95%;
    margin-bottom: 20px;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

input[type=number]{
    width: 95%;
    margin-bottom: 20px;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 3px;
}  

label{
    margin-bottom: 10px;
    display: block;
}

.col-75{
    -ms-flex: 75%;
    flex: 75%;
}

.col-50{
    -ms-flex: 50%;
    flex: 50%;
}